// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.menu {
  display: inline-block!important;
}
body > div > nav > ul > li {
  display: inline-block!important;
}
article .post {
  margin-bottom: 1em;
  padding: 1em 0;
  border-bottom: 1px solid lightblue;
}
img {
  max-width: 100%;
}
h1, h2 {
  margin-bottom: 0;
}
.post-summary {
  padding: .5em 0;
}
.post-body {
  padding-top: 1em;
  word-break: break-all;
}
.img-show {
  display: block;
  margin-bottom: 2em;
}
.thumb {
  float: left;
  margin-right: 1em;
}
.editor {
  min-height: 300px;
}